### Creating Dataset for our usecase

In [2]:
import numpy as np
import pandas as pd

### Route Table

In [5]:


# Define a list of countries
countries = ['United States', 'China', 'India', 'Brazil', 'Russia']
modes = ['Sea','Air']

# Create a dictionary to store distances between pairs of countries
country_distances = {}

# Populate the dictionary with approximate distances (in kilometers) between pairs of countries
modes_country = {}
for md in modes:
    for country1 in countries:
        for country2 in countries:
            if country1 != country2:
                # Generate a random distance (for demonstration purposes)
                distance = np.random.randint(500, 5000)
                # Add the distance to the dictionary for both orders of the countries
                country_distances[(country1, country2)] = distance
                country_distances[(country2, country1)] = distance  # Ensuring consistency
    modes_country[md] = country_distances

    
data = []
for mode, distances_dict in modes_country.items():
    for (origin, destination), distance in distances_dict.items():
        data.append([origin, destination, mode, distance])

dfr = pd.DataFrame(data, columns=['Origin', 'Destination', 'Mode of Transportation', 'Distance btw'])

# Display the DataFrame
dfr['Route ID'] = np.arange(1, len(dfr) + 1)
# Save DataFrame to a CSV file
dfr.to_csv('Routes_Table.csv', index=False)

### Service Table

In [6]:
company_name = {"com1": 1, "com2": 2, "com3": 3, "com4": 4, "com5": 5, "com6": 6, "com7": 7, "com8": 8,"com9": 9, "com10": 10 }

rounte_id = np.arange(1, 41)

Serv_cost = {"First_Class": 0.15, "Business Class": 0.10, "Economy Class": 0.8}

Serv_table = []

for rid in rounte_id:
    for ids,com in company_name.items():
        for srv, cost in Serv_cost.items():
            Serv_table.append([rid,ids,com,srv, cost ])

ser_df = pd.DataFrame(Serv_table, columns=['Route ID','Company Name','Company ID','Service Level','Cost per km ($)'])
    
ser_df.to_csv('Service_Table.csv', index=False)

### trip table

In [10]:
import pandas as pd
import numpy as np
import datetime as dt

# Define the number of routes and companies
num_routes = 40
num_companies = 10

# Generate Route ID and Company ID
route_id = np.arange(1, num_routes + 1)
company_id = np.random.choice(np.arange(1, num_companies + 1), size=num_routes)

depart_dates = np.array([dt.datetime(2024, 2, 1, 8, 0) + dt.timedelta(minutes=np.random.randint(0, 480)) for _ in range(num_routes)])
estimated_times = np.array([np.random.randint(120, 301) for _ in range(num_routes)])  # 2 to 5 hours in minutes

# Convert depart_dates to datetime64 for compatibility
depart_dates = np.array(depart_dates, dtype='datetime64')

reach_timedeltas = np.array([np.timedelta64(int(est_time), 'm') for est_time in estimated_times])
# Generate reach dates
reach_dates = depart_dates + reach_timedeltas

# Generate delays
delays = np.array([np.random.randint(-60, 61) for _ in range(num_routes)])  # -1 to +1 hours in minutes
# Convert delays to Python integers
delays = delays.astype(int)

## Apply delays to reach dates
reach_dates += np.array(delays, dtype='timedelta64[m]')


# Create DataFrame for the trip table
trip_data = {
    'Route ID': route_id,
    'Company ID': company_id,
    'Depart DateTime': depart_dates,
    'Reach DateTime': reach_dates,
    'Estimated Time': estimated_times,
    'Delays': delays
}

trip_df = pd.DataFrame(trip_data)

# Display the DataFrame
trip_df.to_csv('Trip_Table.csv', index=False)

In [11]:
trip_df

,Route ID,Company ID,Depart DateTime,Reach DateTime,Estimated Time,Delays
0,1,7,2024-02-01 12:51:00,2024-02-01 18:31:00,294,46
1,2,8,2024-02-01 14:51:00,2024-02-01 20:21:00,291,39
2,3,4,2024-02-01 10:18:00,2024-02-01 11:37:00,120,-41
3,4,10,2024-02-01 12:07:00,2024-02-01 16:56:00,275,14
4,5,5,2024-02-01 08:06:00,2024-02-01 11:59:00,290,-57
5,6,7,2024-02-01 10:07:00,2024-02-01 15:12:00,287,18
6,7,6,2024-02-01 14:38:00,2024-02-01 18:52:00,199,55
7,8,3,2024-02-01 09:15:00,2024-02-01 14:28:00,269,44
8,9,5,2024-02-01 13:00:00,2024-02-01 15:32:00,179,-27
9,10,6,2024-02-01 11:45:00,2024-02-01 16:01:00,256,0
10,11,9,2024-02-01 15:47:00,2024-02-01 17:04:00,121,-44
11,12,7,2024-02-01 11:49:00,2024-02-01 17:12:00,265,58
12,13,6,2024-02-01 15:47:00,2024-02-01 17:59:00,145,-13
13,14,5,2024-02-01 14:04:00,2024-02-01 17:31:00,247,-40
14,15,5,2024-02-01 15:25:00,2024-02-01 18:48:00,249,-46
15,16,7,2024-02-01 13:11:00,2024-02-01 15:37:00,197,-51
16,17,3,2024-02-01 15:22:00,2024-02-01 20:18:00,250,46
17,18,2,2024-02-01 08:00:00,2024-02-01 12:07:00,299,-52
18,19,8,2024-02-01 08:20:00,2024-02-01 11:18:00,143,35
19,20,4,2024-02-01 15:43:00,2024-02-01 20:41:00,245,53
20,21,10,2024-02-01 08:36:00,2024-02-01 13:52:00,274,42
21,22,2,2024-02-01 14:02:00,2024-02-01 18:47:00,294,-9
22,23,9,2024-02-01 08:45:00,2024-02-01 13:46:00,272,29
23,24,7,2024-02-01 13:19:00,2024-02-01 15:12:00,169,-56
24,25,8,2024-02-01 13:17:00,2024-02-01 18:49:00,286,46
25,26,6,2024-02-01 08:32:00,2024-02-01 10:03:00,141,-50
26,27,2,2024-02-01 08:56:00,2024-02-01 11:26:00,208,-58
27,28,1,2024-02-01 10:47:00,2024-02-01 14:08:00,254,-53
28,29,2,2024-02-01 10:04:00,2024-02-01 13:40:00,229,-13
29,30,8,2024-02-01 08:19:00,2024-02-01 10:58:00,216,-57
30,31,3,2024-02-01 08:07:00,2024-02-01 11:35:00,227,-19
31,32,3,2024-02-01 09:30:00,2024-02-01 11:58:00,192,-44
32,33,8,2024-02-01 10:14:00,2024-02-01 13:09:00,205,-30
33,34,5,2024-02-01 13:18:00,2024-02-01 16:09:00,163,8
34,35,5,2024-02-01 12:56:00,2024-02-01 15:57:00,238,-57
35,36,5,2024-02-01 09:19:00,2024-02-01 11:27:00,165,-37
36,37,1,2024-02-01 09:06:00,2024-02-01 13:04:00,250,-12
37,38,8,2024-02-01 12:09:00,2024-02-01 16:50:00,298,-17
38,39,8,2024-02-01 09:40:00,2024-02-01 12:35:00,167,8
39,40,2,2024-02-01 11:57:00,2024-02-01 15:41:00,209,15